<footer class="text-center text-white" >
 <div class="container py-5 ">
  <div class="row py-4 ">
    <div class="col-md-4">
      <h3>LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-md-4">
      <h3>AROUND THE WEB</h3>
      <div class="social d-flex align-items-center justify-content-between w-50 mx-auto py-2">
        <div class="icons">
          <a href="https://www.facebook.com/fawzey.abdelkader.7" target="_blank"><i class="fab fa-facebook-f text-white fs-6"></i></a>
        </div>
        <div class="icons">
          <a href="https://twitter.com/fawzeyabdelkad1" target="_blank"><i class="fab fa-twitter text-white fs-6"></i></a>

        </div>
        <div class="icons">
          <a href="https://www.instagram.com/f_a_w_z_e_y/" target="_blank"><i class="fab fa-instagram text-white fs-6"></i></a>

        </div>
        <div class="icons">
          <a href="https://www.linkedin.com/in/fawzy-abdelkader-hassan/" target="_blank"><i class="fab fa-linkedin-in text-white fs-6"></i></a> </div>

       </div>

    </div>
    <div class="col-md-4">
      <h3>ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>
 </div>
 <div class="bg-dark text-center p-3 bottom-0 text-white"> <p class="lead" >Copy right © Your Website 2024 by<br/><span><a class="text-decoration-none text-danger" href="https://github.com/fawzeyabdelkader" target="_blank">Fawzey Abdelkader </a></span> </p></div>
</footer>

