<app-star></app-star>
<div class="container  form  w-50 mx-auto pt-5">




  <!--^* My Inputs START-->
  <!-- <form class="py-">
    <div class="position-relative ">
      <input required  type="text"   class="input border-0 border-bottom form-control   mb-4 py-4">
      <label  class="label position-absolute top-50 translate-middle-y opacity-75">User Name :</label>
    </div>
    <div class="position-relative ">
      <input required  type="number" class="input border-0 border-bottom form-control   mb-4 py-4">
      <label  class="label position-absolute top-50 translate-middle-y opacity-75">User Age :</label>
    </div>
    <div class="position-relative ">
      <input required  type="email" class="input border-0 border-bottom form-control   mb-4 py-4">
      <label  class="label position-absolute top-50 translate-middle-y opacity-75">User Email :</label>
    </div>
    <div class="position-relative ">
      <input  required type="password" class="input border-0 border-bottom form-control   mb-4 py-4">
      <label  class="label position-absolute top-50 translate-middle-y opacity-75">User Password :</label>
    </div>
    <button class="btn btn-outline-success mb-5" type="submit">Send Message</button>
  </form> -->
  <!--^* My Inputs END-->

  <!-- ^ INPUTS OLDS START -->
  <!-- <form class="py-5">
  <input class="form-control mb-4  border-0 border-bottom" type="text" placeholder="User Name">
  <input class="form-control mb-4 py-4 border-0 border-bottom" type="number" placeholder="User Age">
  <input class="form-control mb-4 py-4 border-0 border-bottom" type="email" placeholder="User Email">
  <input class="form-control mb-4 pt-4 border-0 border-bottom" type="password" placeholder="User Password">
  <button class="btn btn-outline-success mb-5" type="submit">Send Message</button>
</form> -->
  <!-- ^ INPUTS OLDS END -->

  <!-- ! INPUTS bootstrap start -->
  <form class="py-5">
    <div class="form-floating mb-3">
      <input type="text" class="form-control  mb-4 pt-5 border-0 border-bottom" id="userName" placeholder=" ">
      <label for="userName">User Name :</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control  mb-4 pt-5 border-0 border-bottom" id="userAge" placeholder=" ">
      <label for="userAge">User Age :</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control  mb-4 pt-5 border-0 border-bottom" id="userEmail" placeholder=" ">
      <label for="userEmail">User Email :</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control  mb-4 pt-5 border-0 border-bottom" id="userPassword" placeholder=" ">
      <label for="userPassword">User Password :</label>
    </div>


    <button class="btn btn-outline-success mb-5" type="submit">Send Message</button>

  </form>
  <!-- ! INPUTS bootstrap END -->

</div>