<section class="Home py-5 mt-5 text-white">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="mx-auto mt-4">
      <img class="image-home  mt-5" src="../../assets/imageHome/avataaars.svg" alt="">
    </div>
  </div>
  <div class="text-center pt-5">
    <h2 class="fw-bold fs-1">START FRAMEWORK</h2>


    <div class="w-50 mb-2 mx-auto star position-relative">
      <i class="fa-solid fa-star fs-5"></i>
    </div>
    <p class="mb-5  lead">Graphic Artist - Web Designer - illustrator</p>
  </div>

</section>